<button [routerLink]="'../../'" class="btn btn-primary mt-3 mb-2">Regresar</button>
<div class="card">
    <div class="card-body">
        <h1>Actualizar</h1>
        <app-formulario [id]="idPersonaFisica" (MiFormulario)="ObtenerDatosFormulario($event)" > </app-formulario>
    </div>
</div>