<div class="container">
    <div class="row g-0 pt-3 pb-3">
        <div class="col-auto">
            <button [routerLink]="'/'" type="button" class="btn btn-primary">Regresar</button> 
        </div>
    </div>
    <table id="ReportePersonas"  datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"  class="table table-striped" style="width:100%">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido Paterno</th>
            <th>Apellido Materno</th>
            <th>RFC</th>
            <th>Razon Social</th>
            <th>Sucursal</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let persona of personas" >
                <td>{{persona.Nombre}}</td>
                <td>{{persona.Paterno}}</td>
                <td>{{persona.Materno}}</td>
                <td>{{persona.RFC}}</td>
                <td>{{persona.RazonSocial}}</td>
                <td>{{persona.Sucursal}}</td>
 
            </tr>


        </tbody>
      </table>
      


</div>