

::ng-deep {

    @media screen and (max-width: 767px) {
        li.paginate_button.previous {
            display: inline;
        }
     
        li.paginate_button.next {
            display: inline;
        }
     
        li.paginate_button {
            display: none;
        }
    }
}