<button [routerLink]="'../'" class="btn btn-primary mt-3 mb-2">Regresar</button>
<div class="card">
    <div class="card-body">
        <h1>Crear</h1>
        <app-formulario (MiFormulario)="ObtenerDatosFormulario($event)" > </app-formulario>
    </div>
</div>