<div class="container">
    <div class="row g-0 pt-3 pb-3">
        <div class="col-auto">
            <button [routerLink]="'crear'" type="button" class="btn btn-primary">crear</button> 
        </div>
        <div class="col-auto ps-1">
            <button [routerLink]="'reporte'" type="button" class="btn btn-primary">Reporte</button> 
        </div>
    </div>
    <table id="example"  datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"  class="table table-striped" style="width:100%">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido Paterno</th>
            <th>Apellido Materno</th>
            <th>RFC</th>
            <th>Fecha Nacimiento</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let persona of personas" >
                <td>{{persona.nombre}}</td>
                <td>{{persona.apellidoPaterno}}</td>
                <td>{{persona.apellidoMaterno}}</td>
                <td>{{persona.rfc}}</td>
                <td>{{formatearFecha(persona.fechaNacimiento)}}</td>
                <td>
                    <button [routerLink]="['actualizar/',persona.idPersonaFisica]" type="button" class="btn btn-primary">actualizar</button> 
                </td>
 
            </tr>

        </tbody>
      </table>
      


</div>