<div class="mt-3">
  <button [routerLink]="'/'" class="btn btn-primary mt-3 mb-2">Regresar</button>
    <div class="card">
        <div class="card-body">
          <h1>Iniciar Sesión</h1>
           <form [formGroup]="form" (ngSubmit)="sub()">
            <div class="form-group">
                <label for="exampleInputEmail1">Usuario</label>
                <input  formControlName="Username" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
       
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input formControlName="Password" type="password" class="form-control" id="exampleInputPassword1" placeholder="">
              </div>
              <button  type="submit" [disabled]="form.invalid" class="btn btn-primary mt-3">Ingresar</button>

           </form>
          </div>
    </div>
</div>