<form [formGroup]="form" (ngSubmit)="sub()">
    <div class="form-row row g-2">
        <div class="col-12 col-md-4 col-xl-4">

            <div class="form-group">
              <label  for="exampleInputEmail1">Nombre</label>
              <input (keypress)="letras($event)" formControlName="Nombre" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="nombrefeedback" placeholder="" [class.is-invalid]="Nombre.invalid && (Nombre.dirty || Nombre.touched)" [class.is-valid]="Nombre.valid && (Nombre.dirty || Nombre.touched)" >
              <div id="nombrefeedback" class="invalid-feedback">
                <ng-container *ngIf="Nombre.invalid && (Nombre.dirty || Nombre.touched)" >
                    <ng-container *ngIf="Nombre.errors?.['required']"> Nombre requerido </ng-container>
                    
                </ng-container>
                
              </div>
            </div>
        </div>
        <div class="col-12 col-md-4 col-xl-4">

            <div class="form-group">
              <label for="exampleInputPassword1">Apellido Materno</label>
              <input formControlName="ApellidoMaterno" type="text"  aria-describedby="ApellidoMaternofeedback"  class="form-control" id="" placeholder="" [class.is-invalid]="ApellidoMaterno.invalid && (ApellidoMaterno.dirty || ApellidoMaterno.touched)" [class.is-valid]="ApellidoMaterno.valid && (ApellidoMaterno.dirty || ApellidoMaterno.touched)">
              <div id="ApellidoMaternofeedback" class="invalid-feedback">
                <ng-container *ngIf="ApellidoMaterno.invalid && (ApellidoMaterno.dirty || ApellidoMaterno.touched)" >
                    <ng-container *ngIf="ApellidoMaterno.errors?.['required']"> Apellido Materno requerido </ng-container>
                    
                </ng-container>
                
              </div>
            </div>
        </div>

        <div class="col-12 col-md-4 col-xl-4">

            <div class="form-group">
                <label for="exampleInputPassword1">Apellido Paterno</label>
                <input formControlName="ApellidoPaterno" type="text" class="form-control"  aria-describedby="ApellidoPaternofeedback"  id="" placeholder="" [class.is-invalid]="ApellidoPaterno.invalid && (ApellidoPaterno.dirty || ApellidoPaterno.touched)" [class.is-valid]="ApellidoPaterno.valid && (ApellidoPaterno.dirty || ApellidoPaterno.touched)">
                <div id="ApellidoPaternofeedback" class="invalid-feedback">
                  <ng-container *ngIf="ApellidoPaterno.invalid && (ApellidoPaterno.dirty || ApellidoPaterno.touched)" >
                      <ng-container *ngIf="ApellidoPaterno.errors?.['required']"> Apellido Paterno requerido </ng-container>
                      
                  </ng-container>
                  
                </div>
              </div>
        </div>
        <div class="col-12 col-md-4 col-xl-4">

            <div class="form-group " style="position: relative;">
              <label for="exampleInputPassword1">Fecha de Nacimiento</label>
              <div style="position: relative;">
  
                  <input   formControlName="FechaNacimiento" style="background-color: initial ;"  aria-describedby="FechaNacimientofeedback" readonly  (click)="picker.open()" [matDatepicker]="picker" type="text" class="form-control is-valid" id="exampleInputPassword1" placeholder="DD/MM/YYYY"  [class.is-invalid]="FechaNacimiento.invalid && (FechaNacimiento.dirty || FechaNacimiento.touched)" [class.is-valid]="FechaNacimiento.valid && (FechaNacimiento.dirty || FechaNacimiento.touched)">
                  <mat-datepicker-toggle  class="icono-calendario"  matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker touchUi  disabled="false" #picker></mat-datepicker>
              </div>
              <div id="FechaNacimientofeedback" class="invalid-feedback">
                <ng-container *ngIf="FechaNacimiento.invalid && (FechaNacimiento.dirty || FechaNacimiento.touched)" >
                    <ng-container *ngIf="FechaNacimiento.errors?.['required']"> Fecha nacimiento requerido </ng-container>
                    
                </ng-container>
                
              </div>
            </div>
        </div>
        <div class="col-12 col-md-8 col-xl-8">

            <div class="form-group">
              <label for="exampleInputPassword1">RFC</label>
              <input (keypress)="keyPressAlphaNumeric($event)" formControlName="RFC" type="text" class="form-control" id="exampleInputPassword1" placeholder="" aria-describedby="RFCfeedback" [class.is-invalid]="RFC.invalid && (RFC.dirty || RFC.touched)" [class.is-valid]="RFC.valid && (RFC.dirty || RFC.touched)">
              <div id="RFCfeedback" class="invalid-feedback">
                <ng-container *ngIf="RFC.invalid && (RFC.dirty || RFC.touched)" >
                    <ng-container *ngIf="RFC.errors?.['required']"> RFC requerido </ng-container>
                    
                </ng-container>
                
              </div>
            </div>
        </div>

    </div>

      <button type="submit" [disabled]="form.invalid" class="btn btn-primary mt-3">Guardar</button>

   </form>