::ng-deep .mat-form-field-isvalid .mat-form-field-flex .mat-form-field-outline{
    color: green;

  }

  ::ng-deep .mat-form-field {
    font-size: 12px; // example
}

.icono-calendario{
    position: absolute;
    top: 0;
    right: calc(1.5em + 0.75rem);
}